# compiled output
**/dist
**/node_modules
**/package-lock.json
**/tmp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Typescript Build Files
tsconfig.build.tsbuildinfo

# Environment
.env.local*

docker-compose.localdev.yaml

/ethlock
.vscode

/deps/*
tsconfig.build.tsbuildinfo

# temp
lowdb.json
tsconfig.tsbuildinfo
__*test.ts
.local
*.js.map
!/projects/utx-web/src/**/*.js
devtools/infrastructure/data
.nx-container
